<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Socket.io Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/home/notifications">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <div class="badge"> 0 </div>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar class="m-auto">
          <img src="assets/defaultImage.png">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <form name="joinForm" [formGroup]="joinForm" (ngSubmit)="join();">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="contact" position="fixed" mode="ios"></ion-icon>
            <ion-input name="username" formControlName="username" class="input-space" placeholder="Enter username here..." clearInput="true" type="text" inputmode="text" pattern="" mode="ios"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="key" position="fixed" mode="ios"></ion-icon>
            <ion-input name="password" formControlName="password" class="input-space" placeholder="Enter password here..." clearInput="true" [type]="hide ? 'password' : 'text'" [inputmode]="hide ? 'password' : 'text'" pattern="" mode="ios"></ion-input>

            <ion-buttons slot="end" no-margin>
              <ion-button fill="clear" (click)="hide=!hide">
                <ion-icon slot="icon-only" [name]="hide ? 'eye-off' : 'eye'" mode="ios"></ion-icon>
              </ion-button>
            </ion-buttons>

          </ion-item>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" mode="ios"> Join </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
