<ion-content padding forceOverscroll="true">

  <ion-list lines="full" mode="ios">
    <ion-item>
      <ion-label>Application</ion-label>
      <ion-label slot="end">1.0.0</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Node.js</ion-label>
      <ion-label slot="end">10.15.3</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>NPM</ion-label>
      <ion-label slot="end">6.4.1</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Angular</ion-label>
      <ion-label slot="end">8.1.2</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Ionic</ion-label>
      <ion-label slot="end">4.12.0</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
