<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alert Controller</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/home/notifications">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <div class="badge"> 0 </div>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding forceOverscroll="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" mode="ios" (click)="presentAlert()"> Present Alert </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
