<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Message Room</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" routerLink="/home/notifications">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <div class="badge"> 0 </div>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-infinite-scroll position="top" threshold="30px" (ionInfinite)="loadData($event)" >
    <ion-infinite-scroll-content
      loadingSpinner="lines">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ul class="default">
          <li class="" *ngFor="let message of messages; index as i;">
            <ion-row>
              <ion-col [size]="message.recipient ? 10 : 2" no-padding class="p-l-5 p-r-5 p-t-10 p-b-10">
                <div *ngIf="message.recipient" class="p-15 md-font" [ngClass]="message.recipient ? 'bg-grey-lighter recipient-border' : 'bg-blue color-white sender-border'"> {{message.text}} </div>
              </ion-col>
              <ion-col [size]="!message.recipient ? 10 : 2" no-padding class="p-l-5 p-r-5 p-t-10 p-b-10">
                <div *ngIf="!message.recipient" class="p-15 md-font" [ngClass]="message.recipient ? 'bg-grey-lighter recipient-border' : 'bg-blue color-white sender-border'"> {{message.text}} </div>
              </ion-col>
            </ion-row>
          </li>
        </ul>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar class="message-sender">
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-input placeholder="Leave a message" name="text" type="text" inputmode="text"></ion-input>

        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-buttons slot="primary">
      <ion-button fill="clear" color="primary">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
