// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

ion-header {
  &:after {
      background: none;
  }
}
ion-item {
  &.nav-link {
      --color: #7c7c80;
  }
  &.active {
      --color: #2a2a2a;
      --background: #fafafa;
      --padding-start: 12px;
      --border-style: solid;
      --border-width: 0 0 0 4px;
      --border-color: #3880ff;
  }
}