<ion-app>
  <ion-split-pane>
    <ion-menu id="ion-menu-authenticated">
      <ion-header>
        <ion-grid>

          <div>
      
            <ion-row>
              <ion-col>
                <ion-avatar class="m-auto">
                  <img [src]="profile.pic">
                </ion-avatar>
              </ion-col>
            </ion-row>

          </div>

        </ion-grid>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" routerLinkActive="active" class="nav-link" lines="none">
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
