<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Messages</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" routerLink="/home/notifications">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <div class="badge"> 0 </div>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content no-padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"
    closeDuration="500ms"
    snapbackDuration="280ms"
  >
    <ion-refresher-content
      refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-list no-padding class="m-b-10">

          <ion-item-sliding *ngFor="let message of [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5]; index as i;">

            <ion-item-options side="start">
              <ion-item-option (click)="read(item)">Read</ion-item-option>
            </ion-item-options>

            <ion-item no-padding [lines]="i < [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5].length - 1 ? 'full' : 'none'">
              <ion-avatar no-margin class="m-10">
                <img src="assets/defaultImage.png">
              </ion-avatar>
              <ion-label>
                <h2> Rey </h2>
                <p> I've got enough on my plate as it is. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
              </ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="delete(item)">
                <ion-icon slot="icon-only" name="trash" mode="ios"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
