/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.m {
  &-auto {
    margin: auto;
  }

  &-10 {
    margin: 10px;
  }

  &-b {
    &-10 {
      margin-bottom: 10px;
    }
    &-20 {
      margin-bottom: 20px;
    }
    &-30 {
      margin-bottom: 30px;
    }
    &-40 {
      margin-bottom: 40px;
    }
    &-50 {
      margin-bottom: 50px;
    }
  }
}

.p- {
  &5 {
      padding: 5px;
  }
  &6 {
      padding: 6px;
  }
  &7 {
      padding: 7px;
  }
  &8 {
      padding: 8px;
  }
  &9 {
      padding: 9px;
  }
  &10 {
      padding: 10px;
  }
  &11 {
      padding: 11px;
  }
  &12 {
      padding: 12px;
  }
  &13 {
      padding: 13px;
  }
  &15 {
      padding: 15px;
  }
  &l- {
      &0 {
          padding-left: 0px;
      }
      &1 {
          padding-left: 1px;
      }
      &2 {
          padding-left: 2px;
      }
      &3 {
          padding-left: 3px;
      }
      &5 {
          padding-left: 5px;
      }
      &6 {
          padding-left: 6px;
      }
      &7 {
          padding-left: 7px;
      }
      &13 {
          padding-left: 13px;
      }
      &14 {
          padding-left: 14px;
      }
      &15 {
          padding-left: 15px;
      }
  }
  &r- {
      &0 {
          padding-right: 0px;
      }
      &1 {
          padding-right: 1px;
      }
      &1 {
          padding-right: 1px;
      }
      &2 {
          padding-right: 2px;
      }
      &3 {
          padding-right: 3px;
      }
      &5 {
          padding-right: 5px;
      }
      &6 {
          padding-right: 6px;
      }
      &7 {
          padding-right: 7px;
      }
      &10 {
          padding-right: 10px;
      }
      &13 {
          padding-right: 13px;
      }
      &14 {
          padding-right: 14px;
      }
      &15 {
          padding-right: 15px;
      }
      &16 {
          padding-right: 16px;
      }
      &17 {
          padding-right: 17px;
      }
      &18 {
          padding-right: 18px;
      }
      &19 {
          padding-right: 19px;
      }
      &20 {
          padding-right: 20px;
      }
  }
  &t- {
      &3 {
          padding-top: 3px;
      }
      &4 {
          padding-top: 4px;
      }
      &5 {
          padding-top: 5px;
      }
      &10 {
          padding-top: 10px;
      }
      &25 {
          padding-top: 25px;
      }
  }
  &b- {
      &1 {
          padding-bottom: 1px;
      }
      &2 {
          padding-bottom: 2px;
      }
      &3 {
          padding-bottom: 3px;
      }
      &4 {
          padding-bottom: 4px;
      }
      &5 {
          padding-bottom: 5px;
      }
      &10 {
          padding-bottom: 10px;
      }
      &13 {
          padding-bottom: 13px;
      }
      &15 {
          padding-bottom: 15px;
      }
      &50 {
          padding-bottom: 50px;
      }
      &100 {
          padding-bottom: 100px;
      }
      &150 {
          padding-bottom: 150px;
      }
      &200 {
          padding-bottom: 200px;
      }
  }
}

.b- {
  &rad- {
      &50 {
          border-radius: 50px;
      }
  }
  &l- {
      &1 {
          border-left-width: 1px;
          border-left-style: solid;
      }    
  }
  &b- {
      &1 {
          border-bottom-width: 1px;
          border-bottom-style: solid;
      }
  }
}

.sm-font {
  font-weight: 300;
}

.md-font {
  font-weight: 400;
}

.lg-font {
  font-weight: 600;
}

.font- {
  &10 {
      font-size: 10px;
      &-imp {
          font-size: 10px !important;
      }
  }
  &11 {
      font-size: 11px;
      &-imp {
          font-size: 11px !important;
      }
  }
  &12 {
      font-size: 12px;
      &-imp {
          font-size: 12px !important;
      }
  }
  &13 {
      font-size: 13px;
      &-imp {
          font-size: 13px !important;
      }
  }
  &14 {
      font-size: 14px;
      &-imp {
          font-size: 14px !important;
      }
  }
  &15 {
      font-size: 15px;
      &-imp {
          font-size: 15px !important;
      }
  }
  &16 {
      font-size: 16px;
  }
  &17 {
      font-size: 17px;
  }
  &18 {
      font-size: 18px;
  }
  &19 {
      font-size: 19px;
  }
  &20 {
      font-size: 20px;
      &-imp {
          font-size: 20px !important;
      }
  }
  &21 {
      font-size: 21px;
  }
  &22 {
      font-size: 22px;
  }
  &23 {
      font-size: 23px;
  }
  &24 {
      font-size: 24px;
  }
  &25 {
      font-size: 25px;
  }
  &64 {
      font-size: 64px;
  }
}

.bg- {
  &grey- {
    &lightest {
        background: #fafafa;
        --background: #fafafa;
    }
    &lighter {
        background: #f5f5f5;
    }
    &semi-light {
        background: #e1e1e1;
    }
  }
  &blue {
    background: rgb(56, 128, 255);
  }
}

.color- {
  &white {
    color: #fff;
  }
}

.badge {
  position: absolute;
  top: 7px;
  right: 5px;

  width: 20px;
  height: 20px;
  line-height: 20px;

  text-align: center;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;

  background: rgb(56, 128, 255);
  color: #fff;

  &.warning {
    background: rgb(244, 67, 54);
  }
}

ion-refresher {
  background: #f1f1f1;
}

ul.default {
  list-style-type: none;
  padding-left: 0;
}
