<ion-content padding forceOverscroll="true">

  <ion-list lines="full" mode="ios" *ngIf="featureList?.developmentApis.length">
    <ion-list-header> DEVELOPMENT APIS </ion-list-header>

    <ion-item mode="ios" detail [routerLink]="feat?.url" *ngFor="let feat of featureList?.developmentApis">
      <ion-label>{{feat?.label}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-list lines="full" mode="ios" *ngIf="featureList?.nativeFeatures.length">
    <ion-list-header> NATIVE FEATURES - IONIC 4 </ion-list-header>

    <ion-item mode="ios" detail [routerLink]="feat?.url" *ngFor="let feat of featureList?.nativeFeatures">
      <ion-label>{{feat?.label}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-list lines="full" mode="ios" *ngIf="featureList?.developmentFeatures.length">
    <ion-list-header> DEVELOPMENT FEATURES - IONIC 4 </ion-list-header>

    <ion-item mode="ios" detail [routerLink]="feat?.url" *ngFor="let feat of featureList?.developmentFeatures">
      <ion-label>{{feat?.label}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-list lines="none" *ngIf="false">
    <ion-card>
      <!-- <img src="/assets/brandLarge.png" alt="missing image"> -->

      <ion-card-header>
        <!-- <ion-card-subtitle>Testing APIs</ion-card-subtitle> -->
        <ion-card-title>CN Dev API</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-icon slot="start" color="medium" name="play-circle"></ion-icon>
        <ion-button color="primary" (click)="cnLoginAPI()"> Play </ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="text"></ion-icon>
        <ion-input placeholder="Response" [(ngModel)]="cnAPIRes" clearInput></ion-input>
      </ion-item>
    
      <!-- <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content> -->
    </ion-card>

    <ion-card>
      <!-- <img src="/assets/brandLarge.png" alt="missing image"> -->

      <ion-card-header>
        <!-- <ion-card-subtitle>Testing APIs</ion-card-subtitle> -->
        <ion-card-title>Node APIs 101</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-icon slot="start" color="medium" name="play-circle"></ion-icon>
        <ion-button color="primary" (click)="testNodeAPI()"> Play </ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="text"></ion-icon>
        <ion-input placeholder="Response" [(ngModel)]="nodeAPIRes" clearInput></ion-input>
      </ion-item>
    
      <!-- <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content> -->
    </ion-card>

    <ion-card>
      <!-- <img src="/assets/brandLarge.png" alt="missing image"> -->

      <ion-card-header>
        <!-- <ion-card-subtitle>Native API</ion-card-subtitle> -->
        <ion-card-title>Ionic Calendar</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-icon slot="start" color="medium" name="play-circle"></ion-icon>
        <ion-button color="primary" (click)="openCalendar()"> Play </ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="text"></ion-icon>
        <ion-input placeholder="Response" [(ngModel)]="calendarRes" clearInput></ion-input>
      </ion-item>
    
      <!-- <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content> -->
    </ion-card>

    <ion-card>
      <!-- <img src="/assets/brandLarge.png" alt="missing image"> -->

      <ion-card-header>
        <!-- <ion-card-subtitle>Native API</ion-card-subtitle> -->
        <ion-card-title>Ionic Spinner</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-icon slot="start" color="medium" name="play-circle"></ion-icon>
        <ion-button color="primary" (click)="showSpinner()"> Play </ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="text"></ion-icon>
        <ion-input placeholder="Response" [(ngModel)]="spinnerRes" clearInput></ion-input>
      </ion-item>
    
      <!-- <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content> -->
    </ion-card>

    <ion-card>
      <!-- <img src="/assets/brandLarge.png" alt="missing image"> -->

      <ion-card-header>
        <!-- <ion-card-subtitle>Native API</ion-card-subtitle> -->
        <ion-card-title>Date Picker</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-icon slot="start" color="medium" name="play-circle"></ion-icon>
        <ion-button color="primary" (click)="showDatePicker()"> Play </ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="settings"></ion-icon>
        <ion-label> Theme </ion-label>
        <ion-select [(ngModel)]="datePickerTheme" okText="Okay" cancelText="Dismiss" mode="ios">
          <ion-select-option value="THEME_TRADITIONAL">TRADITIONAL</ion-select-option>
          <ion-select-option value="THEME_HOLO_DARK">HOLO_DARK</ion-select-option>
          <ion-select-option value="THEME_HOLO_LIGHT">HOLO_LIGHT</ion-select-option>
          <ion-select-option value="THEME_DEVICE_DEFAULT_DARK">DEFAULT_DARK</ion-select-option>
          <ion-select-option value="THEME_DEVICE_DEFAULT_LIGHT">DEFAULT_LIGHT</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="text"></ion-icon>
        <ion-input placeholder="Response" [(ngModel)]="datePickerRes" clearInput></ion-input>
      </ion-item>
    
      <!-- <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content> -->
    </ion-card>

    <ion-card>
      <!-- <img src="/assets/brandLarge.png" alt="missing image"> -->

      <ion-card-header>
        <!-- <ion-card-subtitle>Native API</ion-card-subtitle> -->
        <ion-card-title>Time Picker</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-icon slot="start" color="medium" name="play-circle"></ion-icon>
        <ion-button color="primary" (click)="showTimePicker()"> Play </ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="settings"></ion-icon>
        <ion-label> Theme </ion-label>
        <ion-select [(ngModel)]="timePickerTheme" okText="Okay" cancelText="Dismiss" mode="ios">
          <ion-select-option value="THEME_TRADITIONAL">TRADITIONAL</ion-select-option>
          <ion-select-option value="THEME_HOLO_DARK">HOLO_DARK</ion-select-option>
          <ion-select-option value="THEME_HOLO_LIGHT">HOLO_LIGHT</ion-select-option>
          <ion-select-option value="THEME_DEVICE_DEFAULT_DARK">DEFAULT_DARK</ion-select-option>
          <ion-select-option value="THEME_DEVICE_DEFAULT_LIGHT">DEFAULT_LIGHT</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="text"></ion-icon>
        <ion-input placeholder="Response" [(ngModel)]="timePickerRes" clearInput></ion-input>
      </ion-item>
    
      <!-- <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content> -->
    </ion-card>

    <ion-card>
      <!-- <img src="/assets/brandLarge.png" alt="missing image"> -->

      <ion-card-header>
        <!-- <ion-card-subtitle>Native API</ion-card-subtitle> -->
        <ion-card-title>Barcode Scanner</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-icon slot="start" color="medium" name="play-circle"></ion-icon>
        <ion-button color="primary" (click)="scanBarCode()"> Play </ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="text"></ion-icon>
        <ion-input placeholder="Response" [(ngModel)]="barcodeScannerRes" clearInput></ion-input>
      </ion-item>
    
      <!-- <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content> -->
    </ion-card>

    <ion-card>
      <!-- <img src="/assets/brandLarge.png" alt="missing image"> -->

      <ion-card-header>
        <!-- <ion-card-subtitle>Cleaning Tools</ion-card-subtitle> -->
        <ion-card-title>Project Cleaners</ion-card-title>
      </ion-card-header>

      <ion-item>
        <ion-icon slot="start" color="medium" name="play-circle"></ion-icon>
        <ion-button color="primary" (click)="refresh()"> RefreshModels </ion-button>
      </ion-item>
    
      <!-- <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content> -->
    </ion-card>

  </ion-list>
</ion-content>
