<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="logo-ionic"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list lines="full" mode="ios" *ngIf="featureList?.developmentApis.length">
          <ion-list-header> API FEATURES TO BE DISPLAYED </ion-list-header>

          <ion-item mode="ios" *ngFor="let feat of featureList?.developmentApis">
            <ion-label>{{feat?.label}}</ion-label>
            <ion-checkbox slot="end" mode="ios" [(ngModel)]="feat.isChecked"></ion-checkbox>
          </ion-item>

        </ion-list>

        <ion-list lines="full" mode="ios" *ngIf="featureList?.developmentFeatures.length">
          <ion-list-header> DEVELOPMENT FEATURES TO BE DISPLAYED </ion-list-header>

          <ion-item mode="ios" *ngFor="let feat of featureList?.developmentFeatures">
            <ion-label>{{feat?.label}}</ion-label>
            <ion-checkbox slot="end" mode="ios" [(ngModel)]="feat.isChecked"></ion-checkbox>
          </ion-item>

        </ion-list>

        <ion-list lines="full" mode="ios" *ngIf="featureList?.nativeFeatures.length">
          <ion-list-header> NATIVE FEATURES TO BE DISPLAYED </ion-list-header>

          <ion-item mode="ios" *ngFor="let feat of featureList?.nativeFeatures">
            <ion-label>{{feat?.label}}</ion-label>
            <ion-checkbox slot="end" mode="ios" [(ngModel)]="feat.isChecked"></ion-checkbox>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" mode="ios" (click)="modifyFeatures()" class="m-b-50"> Modify Display Features </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
